:root {
  --background-light: #DDDDDD;
  --background-dark: #000000;
  --color-dark: #000000;
  --color-pink: #F9DFDC;
  --color-purple: #584153;
  --color-dark-purple: #251b23;
  --color-light: #ffffff;
  --color-banner:#dfdedc;
  --color-gold: #f1ddac; 
} 
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-dark);
  font-family: 'Open Sans', 'Niconne', 'Abhaya Libre', serif, sans-serif;
  margin-top: 65px;
  min-width: 280px;
}
.main-menu-container {
  background-color: var(--background-dark); 
  position: fixed;
  width: 100vw;
  height: 70px;
  top: 0;
  z-index: 1001;
  align-content: space-around;
  padding-top: 10px;
}
.main-menu {
  margin: 0 auto;
  max-width: 1200px;
  list-style-type: none;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding-inline-start: 0;
  color: var(--background-light);
  font-family: 'Niconne', cursive;
  font-size: 28px;
  line-height: 32px;
  height: 70px;
}
.menu-item {
  cursor: pointer;
  opacity: 1;
  color: var(--color-light);
  transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.menu-item:hover {
  color: var(--color-light);
  opacity: 0.6;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.menu-icon {
  height: 18px;
}
.menu-wordlink {
  display: flex;
  min-width: 120px;
  justify-content: center;
}
.logo {
  padding-top: 15px;
}
.curve-container {
  background-color: var(--background-dark);
  position: fixed;
  min-width: 100vw;
  height: auto;
  padding-top: 30px;
  border-bottom-left-radius:50% 50%;
  border-bottom-right-radius:50% 50%;
  text-align: center; 
  z-index: 1000;
  flex: 1;
}
.navbar-textline {
  color: var(--color-pink);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding-bottom: 25px;
  padding-top: 5px;
}
.main-banner {
  min-height: 100vh;
  background-image: url(./assets/banner-c.jpg);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex; 
}
.store-address {
  width: 100%;
  width: 100vw;
  display: flex;
  flex-flow: nowrap;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: center;
  gap: 10px;
  margin-top: 0px;
}
.store-address-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color:var(--color-banner);
  min-width: 250px;
  margin: -40px 10px 10px 10px;
  color: var(--color-dark);
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  border: 6px double var(--color-purple);  
}
.address-header {
  font-family: 'Abhaya Libre', serif;
  font-weight: 800;
  font-size: 24px;
  line-height:32px;
}
.street {
  text-decoration: underline solid 3px;
  color: var(--color-purple);
  font-size: 16px;
  line-height: 24px;
}
.cards {
  background-color: var(--background-dark);
  position: relative;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}
.cards .info {
  background-color: var( --color-banner);
  border: double 10px var(--color-purple);
  position: relative;
  max-width: 1200px;
  margin: 10px;
  display: flex;
}
.cards .info .imgBox {
  max-width: 500px;
  flex: 1 auto;
}
.cards .info .imgBox img {
  max-width: 100%;
  margin: 20px;
  background: #F8F8F8; 
	border: solid #F9DEDC 1px; 
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3)  ; 
}
.cards .info .textBox {
  margin: 20px;
  width: 100%;
  height: auto;
  flex: 1 auto;
}
.cards .info .textBox .textBox-header {
  font-family: 'Niconne', cursive;
  letter-spacing: .5px;
  text-decoration: underline;
  font-size: 34px;
  line-height: 42px;
  color: var(--color-purple);
  text-align: right;
  margin: 0 30px 30px auto;
}
.cards .info .textBox .textBox-p {
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  line-height: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*TRENDING NOW SLIDER*/

.box {
  width: 100%;
  height: auto;
  background: var(--background-dark);
  position: relative;
  padding: 0;  
}
.trends-header,
.contact-form-header {
  color:var(--color-pink);
  font-family: 'Abhaya Libre', serif;
  font-weight: 800;
  letter-spacing: 3.5px;
  font-size: 28px;
  line-height: 34px;
  margin: 65px auto;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  z-index: 100;
}
.cardbox {
  width: 100%;
  height: auto;
  margin: 0 0 65px 0;
  min-height: 240px;
  padding: 0;
  overflow: hidden;
}
.card {
  height: auto;
  min-width: 260px;
  background: var(--color-light); 
  margin: 0 20px;
  border-radius: 1%;
  
}
.cardimg {
  position: relative;
  width: 240px;
  height: 240px;
  margin: 10px auto;
  display: block; 
}
.cardimg img {
  width: 100%;
  height: auto;
  border-radius: 3%;
  -webkit-box-shadow: 4px 5px 16px 2px rgba(88,65,83,0.95); 
  box-shadow: 4px 5px 16px 2px rgba(88,65,83,0.95);
}
.undercardbox {
  animation: move 60s linear 3s infinite alternate;
  display: flex;
  flex-direction: row;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-2800px + 100%));
  }
}

/* FOOTER */

ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: var(--color-dark-purple);
  color: var(--color-banner);
  line-height: 1.5;
  display: flex;
  min-height: fit-content;
  flex-direction: column;
}
footer a,
.order-phone-p,
.signup-p,
.customer-service {
  text-decoration: none;
  color:var(--color-banner);
  font-size: 14px;
  letter-spacing: 1;
}
a:hover {
  text-decoration: underline;
}
.footer-title {
  color:var(--color-light);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 7px;
}
.signup-p { 
  margin-top: 10px;
}
.container {
  flex: 1;
}

/* FOOTER MAIN */

.footer-main {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer-main-item {
  padding: 20px;
  max-width: 500px;
  justify-content: space-between ;
}

/* FOOTER MAIN - SIGN UP FORM*/

*form {
  display: flex;
  flex-wrap: nowrap;
  min-width: 280px;
}
input[id="signup-email"] {
  min-width: 250px;
  padding: 10px 5px 10px 0px; 
  background-color: var(--color-dark-purple);
  font-size: 12px;
  color: var(--color-light);
  border: 0;
  border-bottom: 2px solid var(--color-light);
}
button[type="submit"],
.contact-form-structure li button {
  background-color: var(--color-dark-purple);
  color:var(--color-light);
  cursor: pointer;
  border: 1.5px solid  var(--color-gold);
  transition: .5s;
  padding: 10px;
  margin-right: 0;
  margin-left: auto;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
}
button:hover[type="submit"],
.contact-form-structure li button:hover {
  background:var(--color-gold);
  color: var(--color-dark);
  border-radius: 5px;
}

/* FOOTER COPYRIGHT */

.footer-copyright {
  display: flex;
  background-color: var(--background-dark);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.copyright {
  padding: 15px 30px;
  width: 100vw;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1300px){
  .store-address {
    flex-wrap: nowrap;
    gap: 40px;
    margin-top: -20px;
  }
  .store-address-card {
    width: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .main-banner {
    min-height: 90vh;
  }
  .store-address-card {
    width: 350px;
  }
  .store-address {
    flex-wrap: wrap;
    margin-top: -20px;
  }
}

@media screen and (max-width:991px){
  .cards {
    flex-direction: column;
  }
  .main-banner {
    min-height: 70vh;
  }
  .store-address {
    margin-top: -5px;
  } 
}

@media screen and (max-width: 930px){
  .store-address-card {
    width: 280px;
  }
}

@media screen and (max-width: 780px){
  .menu-wordlink {
    display: none;
  }
  .navbar-textline {
    font-size: 18px;
  }
  .cards .info .textBox {
    margin: 0;
  }
  .cards .info .textBox .textBox-header {
    text-align: center;
    margin: 20px 0 0 0;
  } 
}

@media screen and (max-width:768px){
  .cards {
    flex-direction: column;
  }
  .cards .info {
    flex-direction: column;
    max-width:350px;
  }
  .cards .info .imgBox {
    max-width:100%;
  }
  .cards .info .imgBox img {
    margin: 0;
  }
  .cards .info .textBox {
    width: 100;   
  }
}

@media screen and (max-width: 709px){
  .navbar-textline {
    font-size: 16px;
  }
  .main-banner {
    min-height: 60vh;
  }
  .store-address-card {
    width: 250px;
  }
  .store-address {
    margin-top: -10px;
  }
  .footer-main {
    padding: 0;
    min-width: 200px;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 576px){
  .main-banner {
    min-height: 55vh;
  }
  .menu-wordlink {
    display: none;
  }
  .store-address {
    margin-top: -40px;
    gap: 40px;
  }
}

@media screen and (max-width: 489px) {
  .main-banner {
    min-height: 50vh;
  }
  .store-address {
    margin-top: -20px;
  }
}

@media screen and (max-width: 401px) {
  button[type="submit"]{
    margin-top: 15px;
    padding: 10px;
  }
}

@media screen and (max-width: 365px) {
  .main-banner {
    min-height: 45vh;
  }
  .store-address {
    margin-top: -40px;
  }
}

@media screen and (max-width: 341px) {
  .footer-main {
    justify-content: space-between;
  }
  .navbar-textline {
    font-size: 14px;
  }
}



/*CONTACT.html*/

/*CONTACT-BANNER*/
.contact-banner {
  min-height: 40vh;
  background-image: url(./assets/contact-banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  display: flex;
}
/*CONTACT FORM*/
.contact-container {
  width: 100%;
  margin: 0 auto;
}
ul .contact-form-structure {
  list-style-type: none;
  padding: 0;
}
.contact-form-structure {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
}
.contact-form-structure li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.contact-form-structure > li:not(:last-child) {
  margin-bottom: 20px;
}
.contact-form-structure li label,
.contact-form-structure li p {
  padding: 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-pink);
  flex: 1 0 120px;
  max-width: 220px;
}
.contact-form-structure li label + * {
  flex: 1 0 220px;
}
.contact-form-structure li p {
  margin: 0;
}
.contact-form-structure li input,
.contact-form-structure li textarea {
  padding: 15px;
  border: none;
}
input::placeholder,
textarea::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}





