:root {
  --background-light: #DDDDDD;
  --background-dark: #000000;
  --color-dark: #000000;
  --color-pink: #F9DFDC;
  --color-purple: #584153;
  --color-light: #ffffff;
  --color-banner:#dfdedc;
}
  
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-dark);
  font-family: 'Open Sans', 'Niconne', 'Abhaya Libre', serif, sans-serif;
  margin-top: 65px;
}

.main-menu-container {
  background-color: var(--background-dark); 
  position: fixed;
  width: 100vw;
  height: 70px;
  top: 0;
  z-index: 1000;
  align-content: space-around;
}

.main-menu {
  margin: 0 auto;
  max-width: 1200px;
  list-style-type: none;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding-inline-start: 0;
  color: var(--background-light);
  font-family: 'Niconne', cursive;
  font-size: 26px;
  line-height: 26px;
  height: 70px;
  padding-left: 40px;
  padding-right: 40px;
}

.menu-item {
  /*display: inline-block; 
  width: 100%;
  text-align: center;*/  /*WESBOS*/
  cursor: pointer;
  opacity: 1;
  color: var(--color-light);
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu-item:hover {
  color: var(--color-light);
  opacity: 0.8;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu-icon {
  height: 18px;
}
/*.menu-wordlink {
  align-content: unset;
}*/

.menu-wordlink {
  display: flex;
}

.logo {
  padding-top: 15px;
}

.curve-container {
  background-color: var(--background-dark);
  position: fixed;
  width: 100vw;
  height: 50px; 
  border-bottom-left-radius:50% 50%;
  border-bottom-right-radius:50% 50%;
  text-align: center; 

  /* color: var(--color-pink);
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 15px;
  padding-top: 25px;*/
}

.navbar-textline {
  color: var(--color-pink);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding-top: 15px;
}

.welcome {
  background-color: var(--background-dark);
}

.main-banner {
  min-height: 80vh;
  background-image: url(./assets/banner.jpg);
  background-position: center bottom 35%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
}

.store-address {
  width: 100%;
  width: 100vw;
  display: flex;
  flex-flow: nowrap;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: center;
  gap:30px;
  margin-top: -5px;                         /*here to pull it up*/
}
.store-address-card {
  display: flex;
  flex-direction: column;
  flex-wrap: column nowrap;
  background-color:var(--color-banner);
  width: 250px;
  margin: -40px 20px 20px 20px;
  color: var(--color-dark);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 15px;
  text-align: center;
  border: 6px double var(--color-dark);  
}

.address-header {
  font-family: 'Abhaya Libre', serif;
  font-weight: 800;
  font-size: 24px;
  line-height:32px;
}

.street {
  text-decoration: underline solid 3px;
  color: var(--color-purple);
  font-size: 16px;
  line-height: 32px;
}

.events-section {
  width: 70vw;
  height: auto;
  display: flex;
  
  margin: 0 auto;
  justify-content: center;
}
/*
.container-events {
  border: double 6px var(--color-dark);
  display: flex;
  justify-content:space-around; 
}
*/

.container-events {
  background-color: var( --color-banner);
  border: double 10px var(--color-purple);
  min-width: none;
  margin: 30px auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

}

.img-events>img { 
  object-fit:scale-down;
  padding:5px;
  margin: 20px;
}

.text-events-header {
  font-family: 'Niconne', cursive;
  letter-spacing: .2rem;
  text-decoration: underline;
  font-size: 26px;
  line-height: 26px;
  color: var(--color-purple);
  text-align: right;
  margin: 0 30px 30px auto;
}

.text-events {
  margin: 30px;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
}
 @media screen and (max-width: 1300px) {
   .store-address {
     flex-wrap: wrap;
     margin-top: -60px;
   }
   .store-address-card {
     width: 400px;
     gap: 10px;
     margin: -40px 15px 15px 15px;
   }
 }

@media screen and (max-width: 930px){
  .main-banner{
    min-height: 80vh;
  }
}
@media screen and (max-width: 780px){
  .main-banner{
    min-height: 70vh;
  }
 
}
@media screen and (max-width: 700px){
  .menu-wordlink {
    display: none;
  }
}
@media screen and (max-width: 576px){
  .menu-wordlink {
    display: none;
  }
}
@media screen and (max-width: 637px){
 
}
@media screen and (max-width: 545px){

}
@media screen and (max-width: 437px){
 
}
@media screen and (max-width: 365px){
  
}
@media screen and (max-width: 282px){
  .main-banner{
    min-height: 350px;
  }
}